# Builds
*.exe
*.dll
*.zip
*.rar
*.7z

# Logs
*.log

# User data
/config.json
/cache/
/reports/
/temp/

# IDE
.vscode/
.idea/
*.sublime-*
*.swp

# OS
Thumbs.db
desktop.ini
.DS_Store

# Env
.env
.env.local

# Python
__pycache__/
*.py[cod]
venv/
.venv/
